<div class="parent" fxLayout="row">
  <div fxFlex="15%" class="left-child">
    <h3 style="margin-top: 0">Flex Layout Examples</h3>
    <ul>
      <li><a routerLink="/column">Component One</a></li>
      <li><a routerLink="/sidenav">SideNav</a></li>
      <li><a routerLink="/material">Angular Material</a></li>
      <li><a routerLink="/routing">Angular Router</a></li>
      <li><a routerLink="/messaging">Messaging Service</a></li>
    </ul>
  </div>
  <div fxFlex class="right-child">
    <router-outlet></router-outlet>
  </div>
</div>


