/*side-nav*/
app-side-nav {
  background-color: green;
}

body > app-root > div > div.right-child > app-side-nav > mat-sidenav-container > div.mat-drawer-backdrop.mat-drawer-shown {
  background-color: grey;
  z-index: 1;
}

.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}


