<mat-sidenav-container #sidenavContainer class="example-container">
  <mat-sidenav #sidenav class="example-sidenav" style="background-color: bisque" mode="side">
    <button type="button" mat-button (click)="sidenav.close()">
      close sidenav
    </button>
    Jolly good!
  </mat-sidenav>

  <div class="example-sidenav-content">
    asdd ddd ddd dd dd dd dd dd ff f ff ff  ffffff fff fffff asdd ddd ddd dd dd dd dd dd ff f ff ff
    ffffff fff fffff asdd ddd ddd dd dd dd dd dd ff f ff ff  ffffff fff fffff asdd ddd ddd dd dd dd dd dd
    ff f ff ff  ffffff fff fffff asdd ddd ddd dd dd dd dd dd ff f ff ff  ffffff fff fffff asdd ddd ddd dd dd dd dd dd ff f ff ff  ffffff fff fffff asdd ddd ddd dd dd dd dd dd ff f ff ff  ffffff fff fffff asdd ddd ddd dd dd dd dd dd ff f ff ff  ffffff fff fffff asdd ddd ddd dd dd dd dd dd ff f ff ff  ffffff fff fffff asdd ddd ddd dd dd dd dd dd ff f ff ff  ffffff fff fffff asdd ddd ddd dd dd dd dd dd ff f ff ff  ffffff fff fffff
    <button type="button" mat-button (click)="sidenav.open()">
      Open sidenav
    </button>
  </div>

</mat-sidenav-container>
